<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.senior_project.group_1.mobilesr">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.SettingsActivity2"
            android:label="@string/title_activity_settings2"
            android:parentActivityName=".activities.DivideImageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.senior_project.group_1.mobilesr.activities.DivideImageActivity" />
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SingleImageEnhanceActivity" />
        <activity android:name=".activities.RemoteImageEnhanceActivity" />
        <activity
            android:name=".activities.MultipleImageEnhanceActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".activities.TutorialActivity" />
        <activity android:name=".activities.DivideImageActivity" />
        <activity android:name=".activities.MergeImageActivity" />
        <activity android:name=".activities.SettingsActivity" />

        <provider
            android:name=".views.GenericFileProvider"
            android:authorities="com.senior_project.group_1.mobilesr"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>